@import '@/assets/sass/common.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        min-width: 375px;
        background-color: #f1f1f1;
    }
    h1 {
        text-shadow: 0 3px 6px rgba(#000, .16);
    }
}

@layer components {
    .nav-link {
        @apply inline-block text-[#959595] bg-white rounded-full px-4 py-1;
        + .nav-link {
            @apply ml-2;
        }
        &.active {
            @apply bg-red-500 text-white;
        }
    }
    .tag {
        @apply px-1 bg-[#c8c8c8] text-[#707070] rounded;
    }
}

@layer utilities {
    .fade-enter-active,
    .fade-leave-active {
        transition: opacity .2s ease;
    }
    .fade-enter-from,
    .fade-leave-to {
        opacity: 0;
    }
}